body,td,th,input,select,textarea {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 11px;
}

body {
	background-color: white;
	padding: 0px 10px 0px 10px;
	margin: 0px;
	text-align: center;
}
form {
	margin: 0px;
}
#header {

	height: 50px;
	text-align: left;
}
#logo {
	padding-top: 8px;
}

#container {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 770px;
	
}
#header,#body,#footer {
	margin: 0px;
	background-color: white;
}
#body {
	padding-bottom: 8px;

}
.innercontent {
	
	background-color: black;
	color: white;
	padding: 5px;

	background-color: #E9E9E9;
	color: #3B393A;	
	margin: 1px;
}
#subheader,#footer {
	border: 1px solid #E5E5E5;
	background-color: white;
}
#footer {
	margin-bottom: 8px;
}
#linkback {
	float: right;
}
#linkback a,
#linkback a:link,
#linkback a:hover,
#linkback a:visited,
#linkback a:active {
	color: white;
	text-decoration: none;
	
	color: #3B393A;
}
#linkback a:hover {
	text-decoration: underline;
}
.section {
	margin-top: 6px;
	border: 1px solid #E5E5E5;
	background-color: white;	
}
.sectionheader {
	padding: 5px 6px 5px 6px;
	margin: 1px;
	color: white;
	background-image: url(section-hdg-bg.png);
	background-repeat: no-repeat;
	background-position: top right;
}
.sectioncontent {
	margin: 1px;
	background-image: url(section-body-bg.png);
	background-repeat: repeat-x;
	background-position: top left;
	color: #3B393A;
	padding: 8px;
}
#credits {
	text-align: center;
	margin-top: 10px;
}
a,
a:link,
a:hover,
a:visited,
a:active {
	color: #B02424;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
