<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
  </configSections>
  
  <appSettings>
    <add key="appId" value="230354607115052"/>
    <add key="appSecret" value="a4497e7a17bd2c85cea9520f705a6ad7"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule,UrlRewritingNet.UrlRewriter"/>
    </httpModules>
  <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </modules>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
    <connectionStrings>
      <!--<add connectionString="Server=mssql-server;Database=huytb07t1duocday;User ID=huytb07t1duocday;Password=duocday123456A" name="strDuocDay" providerName="System.Data.SqlClient" />-->
      <add connectionString="Server=b2btrongtin.com.vn;Database=svltvvn_b2bdoc;User ID=svltvvn_tuanva1;Password=tuan1989" name="strDuocDay" providerName="System.Data.SqlClient" />
      <!--<add connectionString="Server=.;Database=duocday;Trusted_Connection=true" name="strDuocDay" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
  
  <urlrewritingnet rewriteOnlyVirtualUrls="false" contextItemsPrefix="QueryString" defaultPage="" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
        <!--Account Rewrite-->
      <add name="LoginPage" virtualUrl="^~/Account$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/login.aspx" ignoreCase="true"/>
      <add name="LogOutPage" virtualUrl="^~/Account/LogOut$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/LogOut.aspx" ignoreCase="true"/>
      <add name="UpdateProfilePage" virtualUrl="^~/Account/Edit$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/EditProfile.aspx" ignoreCase="true"/>
      <add name="ChangePasswordPage" virtualUrl="^~/Account/Password$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ChangePass.aspx" ignoreCase="true"/>
      <add name="NotificationPage" virtualUrl="^~/Account/Notification$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Notification.aspx" ignoreCase="true"/>
      
      <!--Uploader-->
      <add name="ViewProfilePage" virtualUrl="^~/Uploader/([0-9]+.)$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ViewProfile.aspx?profileID=$1" ignoreCase="true"/>
      
      
      <!--Landing Pages-->
    </rewrites>
  </urlrewritingnet>
</configuration>