<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
    <connectionStrings>
      <!--<add connectionString="Server=mssql-server;Database=huytb07t1duocday;User ID=huytb07t1duocday;Password=duocday123456A" name="strDuocDay" providerName="System.Data.SqlClient" />-->
      <add connectionString="Server=b2btrongtin.com.vn;Database=svltvvn_b2bdoc;User ID=svltvvn_tuanva1;Password=tuan1989" name="strDuocDay" providerName="System.Data.SqlClient" />
      <!--<add connectionString="Server=.;Database=duocday;Trusted_Connection=true" name="strDuocDay" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>