@charset "utf-8";
*{margin:0px; padding:0px;}
html, body {background:  url(http://3.bp.blogspot.com/-z44Ln5B43gw/UMhGZ6yowAI/AAAAAAAACYg/CLd7aASCILQ/s1600/background_hmclip.vn.JPG) fixed repeat top center; font-family:Tahoma; font-size:85%;}
a{text-decoration:none;}
.main{width: 1000px; margin:0 auto;  background:#ececec; padding:10px 0px 0px 0px;} 
.banner{width: 1000px; margin:0 auto; height:98px; background:#FFF;}
ul li { list-style-type: none }
.outer{background:url(images/uoter_bg.jpg) repeat-x top left; height:42px;width: 1000px; margin:0 auto;}
.outer ul li{padding:12px 8px; list-style:none;float: left;}
.outer .selected a{
background: none repeat scroll 0 0 #F3F3F3;
border-radius: 15px 15px 15px 15px;
color: #000000;
text-decoration: none;
text-shadow: 0 1px #FFFFFF; padding:8px 15px;
}  
.outer ul li a{color:#FFFFFF; font-weight:bold; text-decoration:none;padding:12px 15px; }
.outer ul li a:hover{
background: none repeat scroll 0 0 #F3F3F3;
border-radius: 15px 15px 15px 15px;
color: #000000;
text-decoration: none;
text-shadow: 0 1px #FFFFFF; padding:8px 15px;}
.leftbar{margin: 0 0 10px 8px; min-height:603px; 
    padding: 10px 6px 5px 6px;
    border-radius: 6px;background:#FFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 0 3px #BBB;
    -moz-box-shadow: 0 0 3px #BBB;
    -webkit-box-shadow: 0 0 3px #BBB;}
#rightscrl {
    position:absolute; 
    z-index:4; width:300px; text-align:justify; padding-right:10px; 
}    
#rightscrl.fixed {
    position:fixed; bottom:50px;
}
  /***** meunu ******/
#wrapper{
	width:1000px; margin:0 auto; 
}
 ul#topnav li {
	float:left;
	border-right:1px #bddcf0 solid;
}

ul#topnav li a {
	display: block;
	text-decoration: none;
	font-size:12px;
	font-family:Arial;
	cursor:pointer;
	color:#0072bc;
  	padding:10px 10px; font-weight:bold; text-transform:uppercase;
}

ul#topnav li a:hover{
	background:url("images/bgd_nav_08.gif") right 0 no-repeat;
	text-decoration:none;
	color:#fff;
}


ul#topnav li:hover ul {
	display: block;
}
ul#topnav li ul a {
	display: inline;
}
 
ul#topnav {
	height: 37px;
	background:url("images/bgd_nav_02.gif") 0 0 repeat-x;
}
ul#topnav #firstlist0 a{
	background:url("images/ico_home.gif") center 10px no-repeat;
	width:16px;
	height:14px;
	display:block;
	padding:10px 23px; 
 
}
ul#topnav #firstlist0:hover{
	background:url("images/bgd_nav_08.gif") right 0 no-repeat;
	 
}
ul#topnav #firstlist0 a:hover{
	background:url("images/ico_home2.gif") center 10px no-repeat;
	 
}

.main .boxnew{ clear:both; padding: 0px 10px 10px 10px; border:1px solid #DDDDDD; margin:10px 0px 0px 0px; width:640px; vertical-align: top;
-webkit-border-radius: 4px; overflow:hidden;
	-moz-border-radius: 4px; background-color:#FEFEFE}
.main .boxnew img{width:200px; height:155px; padding:3px; margin-right:6px;float:left; border:1px solid #DDD; }
.main .boxnew .title{
	font-weight:bold; display:block;
	margin: 0 -1px 5px;
	padding: 8px 15px;
 	border-bottom: 1px dotted #AAA; font-size:15px;
 	color:#333333;
	background: url(images/bullet1.gif) no-repeat left;
}
.main .boxnew a:hover{color:#990000; text-decoration:underline;}
.main .boxnew .cham{background: url(images/cham.gif) no-repeat left; margin: 0 -1px 0px;padding: 2px 0 3px 10px; color:#006699; padding-bottom:5px;}
.main .boxnew .daidien{ font-weight:bold;   }
.main .boxnew .info{font-size:13px; text-align:justify; line-height:20px;}
.main .boxnew ul li { list-style:none; }
.main .boxnew li a{ color:#333333; line-height:20px;background: url(images/cham.gif) no-repeat left; margin: 0 -1px 0px;padding: 2px 0 3px 10px; }
.main .boxnew .views {
	float: right; font-size: 11px;background: url(images/icon-views.png)  no-repeat left; margin-right:5px;padding: 2px 0 3px 20px;
}
.main .boxnew .views a{color:#003399;background: url(images/cham.gif) no-repeat left; margin: 0 -1px 0px;padding: 2px 0 3px 8px;}

.main .boxdetail{ clear:both; margin:10px 0px 0px 0px;  vertical-align: top;width:665px;}
 .main .boxdetail .title{
	font-weight:bold; display:block;
	margin: 0 -1px 5px;
	padding: 8px 15px;
 	border-bottom: 1px dotted #AAA; font-size:15px;
 	color:#333333;
	background: url(images/bullet1.gif) no-repeat left;
}
.main .boxdetail a:hover{color:#990000; text-decoration:underline;}
.main .boxdetail .info{font-size:13px; text-align:justify; line-height:20px;}
.main .boxdetail .des{font-size:13px; text-align:justify; font-weight:bold; color:#666666; margin-bottom:10px;}
.main .boxdetail .cont{font-size:13px; text-align:justify; line-height:20px;}
.main .boxdetail .author{color:#006699; float:right; clear:both; margin-top:10px;}



.paging{width:660px;  margin:10px 0px; color:#000000;padding:5px 0px;border:1px solid #b1b1b1;line-height:16px;text-align:right;background-color:#fff;background-image:-moz-linear-gradient(top,#fff,#fff 25%,#e6e6e6);background-image:-ms-linear-gradient(#fff,#fff 25%,#e6e6e6);background-image:-o-linear-gradient(#fff,#fff 25%,#e6e6e6);border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);cursor:pointer} 
.paging a{color:#CC0000;  padding:0px 5px; border:1px solid #b1b1b1; margin:0px 4px 0px 4px; font-weight:bold;}
.paging .active{border:1px solid #b1b1b1;color:#666;text-decoration:none;background-color:#fff; padding:0px 10px; margin:0px 4px 0px 4px;} 
.footer{background:#efefef url(images/frame_bg.jpg) repeat-x top left; height:30px; text-align:center; border-top:1px solid #DDD; padding:8px 5px 5px 5px; margin-top:10px; font-size:11px;}
.footer a{color:#333333; text-decoration:none; padding:0px 5px 0px 5px;}
.footer a:hover{text-decoration:underline;}
ul.tabbed {margin: 10 0 10px 0;padding: 0;float: left;list-style: none;height: 32px;border-bottom: 1px solid #DDD;border-left: 1px solid #DDD;width: 100%;}
ul.tabbed li {float: left;margin: 0;cursor: pointer;padding: 0px 26px ;height: 31px;line-height: 31px;border: 1px solid #DDD;border-left: none;font-weight: bold; background:url(images/uoter_bg.jpg) repeat-x top left; color:#FFFFFF;overflow: hidden;}
ul.tabbed li:hover {background:url(images/navigation-hover.png) repeat-x;}	
ul.tabbed li.active{background: #FFFFFF; color:#333333;border-bottom: 1px solid #FFFFFF;}
.tab_container {border: 1px solid #DDD;border-top: none;clear: both; font-size:12px; float: left; width: 100%;background: #FFFFFF;}
.tab_container .rpanel{border-bottom:1px dotted #DDD;overflow:hidden;clear:both; }
.tab_content {padding: 5px;display: none;}
.tab_content ul li{ border-bottom:1px dotted #AAA; padding:5px 0px;}
.tab_content ul li a{ background: url(images/ico_li_02.gif) no-repeat left; margin: 0 -1px 0px;padding: 2px 0 3px 10px; color:#333333; padding-bottom:5px;}
#container {width: 300px; clear:both; }
.boxright{border:1px solid #DDD;font-size:12px; clear:both; margin-top:10px;}
.boxright .title{background:url(images/uoter_bg.jpg) repeat-x top left; color:#FFFFFF; padding:7px 10px; text-transform:uppercase; font-size:13px; font-weight:bold;}
.boxright h2 a{color:#FFFFFF; text-transform:uppercase}
.boxright img{width:300px;}
pre{border:1px solid #FFCC99; background-color:#f6f6f6; line-height:15px; width:650px; font-size:12px;overflow: auto; padding: 5px; margin:10px 0px;}

.main .slide{clear:both; margin: 0 0 10px 8px;  padding: 10px; border:1px solid #DDDDDD;  width:650px; vertical-align: top;
-webkit-border-radius: 4px; overflow:hidden;-moz-border-radius: 4px; background-color:#FFF;}
.main .slide a:hover{color:#990000; text-decoration:underline;}



 